include ../partials/components/header.pug
<div class="page page--intersection-observer">
  <h1 class="title">Element in viewport</h1>
  <section class="main-content__section">
    <img class="section__img" src="/libraries/img/interserction-observer/html5.png" alt="HTML 5">
    <p class="section__text">HTML5</p>
  </section>
  <section class="main-content__section">
    <img class="section__img" src="/libraries/img/interserction-observer/css3.png" alt="CSS 3">
    <p class="section__text">CSS3</p>
  </section>
  <section class="main-content__section">
    <img class="section__img" src="/libraries/img/interserction-observer/javascript.jpg" alt="javascript">
    <p class="section__text">JAVASCRIPT</p>
  </section>
</div>
include ../partials/components/footer.pug