include ../partials/components/header.pug
<div class="page page--drag-and-drop-api">
  <div class="container__img container__img-1"></div>
  <div class="container__img container__img-2"></div>
  <img class="img" id="drag1" src="/apis/drag-and-drop-api/javascript.jpg" draggable="true" width="336" height="336">
</div>
include ../partials/components/footer.pug