include ../partials/components/header.pug
<div class="page page--vertical-progressbar-on-scrolling">
  <div id="progressbar"></div>
  <div class="content">
    <h1>Vertical Progress-Bar</h1>
    <p>
      Example on how to add a vertical Progress-Bar that makes progress on Scrolling.<br/>
      Try to Scroll on this site to let the magic happen...
    </p>
  </div>

  <div class="content footer-content">
    <p>
      You now can see, that the progress bar on top of the page has been spread over the full width.<br/>
      Well done.
    </p>
  </div>
</div>
include ../partials/components/footer.pug