include ../partials/components/header.pug
<div class="page page--smash-to-submit-button">
  <button class="button">
    <div class="inner">
      <div class="icon">
        <div class="person">
          <div class="arm"></div>
          <div class="arm right"></div>
          <div class="leg"></div>
          <div class="leg right"></div>
        </div>
        <div class="weight"></div>
      </div>
      <div class="text">
        <span>CLICK HARD HERE</span>
        <span>Yaay ! Submitted.</span>
      </div>
    </div>
  </button>
</div>
include ../partials/components/footer.pug