include ../partials/components/header.pug
<div class="page page--dynamic-timer">
  <div class="timer">
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
    <div class="block" data-rotate="-90" style="transform: translateZ(-100px) rotateX(-90deg);">
      <div class="front"></div>
      <div class="top"></div>
      <div class="back"></div>
      <div class="bottom"></div>
    </div>
  </div>
</div>
include ../partials/components/footer.pug