include ../partials/components/header.pug
<div class="page page--tarteaucitron-js">
  //- Accept Cookies with Adblock
  <h1>Accept Cookies with Adblock</h1>
  <div class="cookies">
    <button>Accept</button>
  </div>
</div>
include ../partials/components/footer.pug