include ../partials/components/header.pug
<div class="page page--countup-js">
  <div class="container__numbers">
    <div id="number" class="number"></div>
  </div>
</div>
include ../partials/components/footer.pug