include ../partials/components/header.pug
<div class="page page--stickyfill">
  <h1>Stickyfill - Polyfill for CSS 'position: sticky'</h1>
  <div class="container__sticky">
    <div class="sticky">
      <h1>TEST STICKYFILL.JS</h1>
    </div>
  </div>
  <h2 class="link"><a href="http://wilddeer.github.io/stickyfill/test/">More examples</a></h2>
</div>
include ../partials/components/footer.pug