include ../partials/components/header.pug
<div class="page page--scrollmagic-js">
  <div class="parallax__container">
    <div class="parallax__block">
      <div class="background__one"></div>
      <div class="background__two"></div>
    </div>
    <div class="parallax__block">
      <h1 class="parallax__block-title">First Block</h1>
      <div class="parallax__block-content">
        <img class="parallax__block-content-img parallax__block-content-img--right" src="/img/scrollmagic-js/react.png" alt="">
        <p class="parallax__block-content-text parallax__block-content-text--left">Hello, Je suis Vue.js !</p>
      </div>
    </div>
    <div class="parallax__block">
      <h1 class="parallax__block-title">Second Block</h1>
      <div class="parallax__block-content">
        <img class="parallax__block-content-img parallax__block-content-img--left" src="/img/scrollmagic-js/react.png" alt="">
        <p class="parallax__block-content-text parallax__block-content-text--right">Hello, Je suis Vue.js !</p>
      </div>
    </div>
    <div class="parallax__block">
      <h1 class="parallax__block-title">Thirst Block</h1>
      <div class="parallax__block-content">
        <img class="parallax__block-content-img parallax__block-content-img--right" src="/img/scrollmagic-js/react.png" alt="">
        <p class="parallax__block-content-text parallax__block-content-text--left">Hello, Je suis Vue.js !</p>
      </div>
    </div>
    <div class="parallax__block">
      <h1 class="parallax__block-title">Four Block</h1>
      <div class="parallax__block-content">
        <img class="parallax__block-content-img parallax__block-content-img--left" src="/img/scrollmagic-js/react.png" alt="">
        <p class="parallax__block-content-text parallax__block-content-text--right">Hello, Je suis Vue.js !</p>
      </div>
    </div>
    <div class="parallax__block">
      <h1 class="parallax__block-title">Five Block</h1>
      <div class="parallax__block-content">
        <img class="parallax__block-content-img parallax__block-content-img--right" src="/img/scrollmagic-js/react.png" alt="">
        <p class="parallax__block-content-text parallax__block-content-text--left">Hello, Je suis Vue.js !</p>
      </div>
    </div>
  </div>
</div>
include ../partials/components/footer.pug