include ../partials/components/header.pug
<div class="page page--shave-js">
  <h1 class="title">Simple Trim content</h1>
  <div class="block">
    <h2 class="block__title">Trim your text content with shave.js</h2>
    <div class="block__content content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam nam sapiente iste necessitatibus temporibus, ipsam inventore repudiandae accusamus libero obcaecati ab vel nostrum debitis cumque, expedita alias sint eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, doloribus? Quisquam, iste! Suscipit earum, numquam nisi perspiciatis magnam voluptatum minima doloremque, alias possimus distinctio rem ullam quasi nobis laudantium blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis doloremque inventore accusamus sint, iste, sapiente iure consectetur obcaecati natus sequi aliquam atque. Dolorem quo consequuntur earum! Repellat, odit veritatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi deserunt vel minus, dolorem, animi nulla laborum obcaecati dicta ratione iure magnam. Excepturi assumenda ullam fuga nisi pariatur doloremque, in odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, quia ipsa possimus quae nihil inventore omnis modi molestias ad fugiat, perferendis natus explicabo dolores voluptates quasi accusantium? Sapiente, deserunt!</div>
    <button class="block__button button">Trim the text</button>
  </div>
  <h1 class="title">Multiples Trim content</h1>
  <div class="wrapper__multiples">
    <div class="multi-blocks">
      <div class="block">
        <h2 class="block__title">Trim your text content with shave.js</h2>
        <div class="block__content content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam nam sapiente iste necessitatibus temporibus, ipsam inventore repudiandae accusamus libero obcaecati ab vel nostrum debitis cumque, expedita alias sint eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, doloribus? Quisquam, iste! Suscipit earum, numquam nisi perspiciatis magnam voluptatum minima doloremque, alias possimus distinctio rem ullam quasi nobis laudantium blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis doloremque inventore accusamus sint, iste, sapiente iure consectetur obcaecati natus sequi aliquam atque. Dolorem quo consequuntur earum! Repellat, odit veritatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi deserunt vel minus, dolorem, animi nulla laborum obcaecati dicta ratione iure magnam. Excepturi assumenda ullam fuga nisi pariatur doloremque, in odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, quia ipsa possimus quae nihil inventore omnis modi molestias ad fugiat, perferendis natus explicabo dolores voluptates quasi accusantium? Sapiente, deserunt!</div>
        <button class="block__button button">Trim the text</button>
      </div>
      <div class="block">
        <h2 class="block__title">Trim your text content with shave.js</h2>
        <div class="block__content content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam nam sapiente iste necessitatibus temporibus, ipsam inventore repudiandae accusamus libero obcaecati ab vel nostrum debitis cumque, expedita alias sint eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, doloribus? Quisquam, iste! Suscipit earum, numquam nisi perspiciatis magnam voluptatum minima doloremque, alias possimus distinctio rem ullam quasi nobis laudantium blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis doloremque inventore accusamus sint, iste, sapiente iure consectetur obcaecati natus sequi aliquam atque. Dolorem quo consequuntur earum! Repellat, odit veritatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi deserunt vel minus, dolorem, animi nulla laborum obcaecati dicta ratione iure magnam. Excepturi assumenda ullam fuga nisi pariatur doloremque, in odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, quia ipsa possimus quae nihil inventore omnis modi molestias ad fugiat, perferendis natus explicabo dolores voluptates quasi accusantium? Sapiente, deserunt!</div>
        <button class="block__button button">Trim the text</button>
      </div>
      <div class="block">
        <h2 class="block__title">Trim your text content with shave.js</h2>
        <div class="block__content content">udiandae accusamus libero obcaecati ab vel nostrum debitis cumque, expedita alias sint eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, doloribus? Quisquam, iste! Suscipit earum, numqu</div>
        <button class="block__button button">Trim the text</button>
      </div>
    </div>
    <button class="block__button block__button--all">Trim All content</button>
  </div>
  <h1 class="title">Auto Trim content</h1>
  <div class="wrapper__auto">
    <div class="auto-blocks">
      <div class="auto-block">
        <h2 class="auto-block__title">Trim your text with shave.js</h2>
        <div class="auto-block__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam nam sapiente iste necessitatibus temporibus, ipsam inventore repudiandae accusamus libero obcaecati ab vel nostrum debitis cumque, expedita alias sint eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, doloribus? Quisquam, iste! Suscipit earum, numquam nisi perspiciatis magnam voluptatum minima doloremque, alias possimus distinctio rem ullam quasi nobis laudantium blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis doloremque inventore accusamus sint, iste, sapiente iure consectetur obcaecati natus sequi aliquam atque. Dolorem quo consequuntur earum! Repellat, odit veritatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi deserunt vel minus, dolorem, animi nulla laborum obcaecati dicta ratione iure magnam. Excepturi assumenda ullam fuga nisi pariatur doloremque, in odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, quia ipsa possimus quae nihil inventore omnis modi molestias ad fugiat, perferendis natus explicabo dolores voluptates quasi accusantium? Sapiente, deserunt!</div>
        <button class="auto-block__button">Auto Trim</button>
      </div>
      <div class="auto-block">
        <h2 class="auto-block__title">Trim your text with shave.js</h2>
        <div class="auto-block__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam nam sapiente iste necessitatibus temporibus, ipsam inventore repudiandae accusamus libero obcaecati ab vel nostrum debitis cumque, expedita alias sint eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, doloribus? Quisquam, iste! Suscipit earum, numquam nisi perspiciatis magnam voluptatum minima doloremque, alias possimus distinctio rem ullam quasi nobis laudantium blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis doloremque inventore accusamus sint, iste, sapiente iure consectetur obcaecati natus sequi aliquam atque. Dolorem quo consequuntur earum! Repellat, odit veritatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi deserunt vel minus, dolorem, animi nulla laborum obcaecati dicta ratione iure magnam. Excepturi assumenda ullam fuga nisi pariatur doloremque, in odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, quia ipsa possimus quae nihil inventore omnis modi molestias ad fugiat, perferendis natus explicabo dolores voluptates quasi accusantium? Sapiente, deserunt!</div>
        <button class="auto-block__button">Auto Trim</button>
      </div>
      <div class="auto-block">
        <h2 class="auto-block__title">Trim your text with shave.js</h2>
        <div class="auto-block__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam nam sapiente iste necessitatibus temporibus, ipsam inventore repudiandae accusamus libero obcaecati ab vel nostrum debitis cumque, expedita alias sint eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, doloribus? Quisquam, iste! Suscipit earum, numquam nisi perspiciatis magnam voluptatum minima doloremque, alias possimus distinctio rem ullam quasi nobis laudantium blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis doloremque inventore accusamus sint, iste, sapiente iure consectetur obcaecati natus sequi aliquam atque. Dolorem quo consequuntur earum! Repellat, odit veritatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi deserunt vel minus, dolorem, animi nulla laborum obcaecati dicta ratione iure magnam. Excepturi assumenda ullam fuga nisi pariatur doloremque, in odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet, quia ipsa possimus quae nihil inventore omnis modi molestias ad fugiat, perferendis natus explicabo dolores voluptates quasi accusantium? Sapiente, deserunt!</div>
        <button class="auto-block__button">Auto Trim</button>
      </div>
    </div>
  </div>
</div>
include ../partials/components/footer.pug