include ../partials/components/header.pug
<div class="page page--drag-and-drop-area">
  <div class="area">
    <div class="drop__area" id="drop-area">Déposez vos images ou cliquez pour les choisir</div>
    <input class="file" type="file" name="monFichier" id="file" accept="image/*" required multiple style="display:none"/>
  </div>
  <div class="container__attached-files">
  </div>
</div>
include ../partials/components/footer.pug