include ../partials/components/header.pug
<div class="page page--header-background-scroll-effect">
  <header class="header-paralax">
    <img class="i1" src="https://images.unsplash.com/photo-1439901948849-20b62e62a557?dpr=1&auto=format&crop=entropy&fit=crop&w=1199&h=585&q=80">
  </header>
</div>
include ../partials/components/footer.pug