<div class="contents contents--apis">
  <h1 class="contents__title">Api's</h1>
  <ul class="apis">
    <li class="api">
      <h2 class="api__title"><a href="apis-0" title="Découvrir Intersection-observer API">Intersection-observer API</a></h2>
      <a class="source" href="https://developer.mozilla.org/fr/docs/Web/API/Intersection_Observer_API" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="api">
      <h2 class="api__title"><a href="apis-1" title="Découvrir Drag and Drop API">Drag and Drop API</a></h2>
      <a class="source" href="https://www.w3schools.com/html/html5_draganddrop.asp" target="_blank" title="Voir la source">Source</a>
    </li>
  </ul>
</div>