<div class="contents contents--apis">
  <h1 class="contents__title">Api's</h1>
  <ul class="apis">
    <li class="api">
      <h2><a href="apis-0" title="Découvrir Intersection-observer">Intersection-observer</a></h2>
      <a class="source" href="https://developer.mozilla.org/fr/docs/Web/API/Intersection_Observer_API" target="_blank" title="Voir la source">Source</a>
    </li>
  </ul>
</div>