<div class="contents contents--codepens">
  <h1 class="contents__title">Codepens</h1>
  <ul class="codepens">
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-0" title="Découvrir Dynamic Timer">Dynamic Timer</a></h2>
      <a class="source" href="https://codepen.io/magnificode/details/qQBBZg" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-1" title="Découvrir Cross Color Text Reveal">Cross Color Text Reveal</a></h2>
      <a class="source" href="https://codepen.io/ispykenny/pen/BaaYqYZ" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-2" title="Découvrir Responsive Blog Card Slider">Responsive Blog Card Slider</a></h2>
      <a class="source" href="https://codepen.io/JavaScriptJunkie/pen/WgRBxw" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-3" title="Découvrir Responsive News Card Slider">Responsive News Card Slider</a></h2>
      <a class="source" href="https://codepen.io/JavaScriptJunkie/pen/ZMMRRQ" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-4" title="Découvrir Split Image Hover Effect">Split Image Hover Effect</a></h2>
      <a class="source" href="https://codepen.io/mimikos/pen/rzNzVP" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-5" title="Découvrir Neon Love">Neon Love</a></h2>
      <a class="source" href="https://codepen.io/al-ro/pen/BaaBage" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-6" title="Découvrir Animated Photo Gallery">Animated Photo Gallery</a></h2>
      <a class="source" href="https://codepen.io/oliviale/pen/RwNOPvx" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-7" title="Découvrir Smash To Submit Button">Smash To Submit Button</a></h2>
      <a class="source" href="https://codepen.io/aaroniker/pen/NWqyego" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="codepen">
      <h2 class="codepen__title"><a href="codepens-8" title="Découvrir Vertical Progressbar on Scrolling">Vertical Progressbar on Scrolling</a></h2>
      <a class="source" href="https://codepen.io/Codepalm/pen/oNXqWRV" target="_blank" title="Voir la source">Source</a>
    </li>
  </ul>
</div>