<div class="contents contents--libraries">
  <h1 class="contents__title">Libraries</h1>
  <ul class="libraries">
    <li class="library">
      <h2 class="library__title"><a href="libraries-0" title="Découvrir Particles.js">Particles.js</a></h2>
      <a class="source" href="https://vincentgarreau.com/particles.js/" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="library">
      <h2 class="library__title"><a href="libraries-1" title="Découvrir Countup.js">Countup.js</a></h2>
      <a class="source" href="https://inorganik.github.io/countUp.js/" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="library">
      <h2 class="library__title"><a href="libraries-2" title="Découvrir Lottie animation">Lottie animation</a></h2>
      <a class="source" href="https://airbnb.io/lottie/#/" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="library">
      <h2 class="library__title"><a href="libraries-3" title="Découvrir ScrollMagic.js">ScrollMagic.js</a></h2>
      <a class="source" href="https://scrollmagic.io/" target="_blank" title="Voir la source">Source</a>
    </li>
    <li class="library">
      <h2 class="library__title"><a href="libraries-4" title="Découvrir Shave.js">Shave.js</a></h2>
      <a class="source" href="https://dollarshaveclub.github.io/shave/" target="_blank" title="Voir la source">Source</a>
    </li>
  </ul>
</div>