<div class="contents contents--others">
  <h1 class="contents__title">Others</h1>
  <ul class="others">
    <li class="other">
      <h2><a href="others-0" title="Découvrir Some CSS Tricks">Some CSS Tricks</a></h2>
    </li>
  </ul>
</div>