<div class="contents contents--others">
  <h1 class="contents__title">Others</h1>
  <ul class="others">
    <li class="other">
      <h2 class="other__title"><a href="others-0" title="Découvrir Some CSS Tricks">Some CSS Tricks</a></h2>
    </li>
    <li class="other">
      <h2 class="other__title"><a href="others-1" title="Découvrir Header Background Scroll Effect">Header Background Scroll Effect</a></h2>
    </li>
    <li class="other">
      <h2 class="other__title"><a href="others-2" title="Découvrir le Drag and Drop">Drag and Drop Area</a></h2>
    </li>
  </ul>
</div>