// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  max-width: 1920px;
  margin: auto;
  background-color: $casual-color;
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  text-decoration: none;

  @include on-event {
    /* color: $links-on-event; */
  }
}

/**
 * Max width pour empêcher les images de sortir de son block parent
 * Vertical align pour éviter les bordures en bas des images
 */

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
